/* --------------------------------------------------------
Style Sheet for Portfolio Website of Aromal Anil

version: 1.0
last modified: 09-02-2020 by Aromal Anil
author: Aromal Anil
email: aromalanilkannan@gmail.com
website: https://aromalanil.netlify.com/
----------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --red: #FE3E57;
    --white: #FFFFFE;
    --dim-white: #E1E1E1;
    --background: #17315A;
    --secondary-button: #294572;
    --dark-shadow: #051020;

}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background);
}
.add-on{
    animation: bottomUp .5s 1 0s linear;
}
.email {
    position: fixed;
    bottom: 0;
    right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mail {
    writing-mode: vertical-rl;
    font-size: 10px;
    line-height:20px;
    text-decoration: none;
    letter-spacing: 2px;
}

.mail-line {
    width: 2px;
    height: 150px;
    margin-top: 30px;
}

.social {
    position: fixed;
    bottom: 0;
    left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-i {
    font-size: 20px;
    margin-bottom: 20px;
}

.social-i:hover {
    color: var(--red);
}

.social-line {
    width: 2px;
    height: 100px;
    margin-top: 10px;
}

.mail,
.social-i {
    color: var(--dim-white);
}

.social-line,
.mail-line {
    background-color: var(--dim-white);
}


.nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    height: 100px;
    background-color: var(--background);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    transition: .5s;
    transition-property: width;
}

.floatingNav {
    height: 60px;
    box-shadow: 0px 1px 10px var(--dark-shadow);
}

#logo h3 {
    color: var(--white);
    font-size: 2.2rem;
    cursor: pointer;
}

#logo h3 span {
    color: var(--red);
}

.nav-elements {
    display: flex;
    align-items: center;

}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-link a {
    color: var(--white);
    font-weight: 700;
    font-size: 1.6rem;
    text-decoration: none;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    transition: .3s;
    transition-property: color;
}

.nav-link a:hover {
    color: var(--red);
}

#nav-btn {
    width: 130px;
    height: 40px;
    background-color: var(--secondary-button);
    border: 1px solid var(--red);
    text-align: center;
    margin-left: 3vw;
    transition: .3s;
    transition-property: color;
    cursor: pointer;
    user-select: none;
}

#nav-btn:hover {
    background-color: var(--red);
}

#nav-btn p {
    color: var(--white);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 40px;
}

body {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0;

    position: absolute;
    width: 100%;
}

.ham {
    display: none;
}

.all-content {
    padding-left: 15%;
    width: 100%;
    padding-right: 15%;
}

.main {
    margin-top: 120px;
    min-height: 100vh;
    background-color: var(--background);
    display: flex;
    align-items: center;
    position: relative;
}

.main-content h3 {
    color: var(--dim-white);
    font-size: 2rem;
    font-weight: 600;
}

.main-content h1 {
    color: var(--white);
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: .5rem;
}

.main-content h1 span {
    color: var(--red);
}

.main-content h2 {
    color: var(--white);
    font-weight: 400;
    font-size: 3.5rem;
}

.btn-grp {
    margin-top: 5.5rem;
    display: flex;
    align-items: center;
}

.btn {
    width: 180px;
    height: 55px;
    color: var(--white);
    font-weight: 600;
    font-size: 1.7rem;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 6px 21px 6px rgba(0, 0, 0, 0.2);
    user-select: none;
}

.btn:hover {
    box-shadow: 5px 6px 12px 4px rgba(0, 0, 0, 0.31);
}

.primary {
    background-color: var(--red);
    margin-right: 40px;
}

.secondary {
    background-color: var(--secondary-button)
}

.main-img {
    position: absolute;
    
    right: -100px;
}

.hero-img {
    display: block;
    width: 40vw;
}




@media only screen and (max-width: 1300px) {

    .main-content h1 {
        font-size: 5rem;
    }

    .main-content h2 {
        font-size: 2.5rem;
    }

    .main-content h3 {
        font-size: 1.5rem;
    }

    .btn {
        width: 160px;
        height: 50px;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 970px) {

 
    .nav-bar {
        padding-left: 10%;
        padding-right: 5%;
        height: 80px;
    }
    .floatingNav {
        height: 55px;
    }

    .nav-elements {
        opacity: 0;
        display: none;
        background-color: var(--dark-shadow);
        justify-content: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw; 
        
    }

    .nav-visible {
        display: flex;
        transition: .5s;
        transition-property: opacity;
        opacity: 1;
    }

    .nav-links {
        flex-direction: column;

    }

    .nav-link {
        margin-top: 5vh;
    }

    .nav-links a {
        padding-left: 0px;
        padding-right: 0px;
        font-size: 2.5rem;
    }

    #nav-btn {
        background-color: #11233f;
        margin-left: 0px;
        margin-top: 10vh;
        width: 180px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #nav-btn p {
        font-size: 2rem;
    }

    .ham {
        display: block;
        position: relative;
        z-index: 20;
    }

    .main {
        margin-top: 250px;
        justify-content: center;
        flex-direction: column-reverse;
        text-align: center;
    }

    .main-content h1 {
        font-size: 4rem;
    }

    .main-content h2 {
        font-size: 2rem;
        line-height: 50px;
    }

    .main-content h3 {
        font-size: 1.7rem;
    }

    .primary {
        margin-right: 20px;
    }

    .btn-grp {
        margin-top: 3rem;
    }

    .main-img {
        position: static;
        right: 0px;
    }

    .main-img {
        margin-bottom: 5vh;
        height: 50%;
    }

    .hero-img {
        width: 75vw;
    }

    .add-on {
        display: none;
    }
}


@media only screen and (max-width: 600px) {

    .main-content h1 {
        font-size: 10vw;
    }

    .main-content h2 {
        font-size: 5.9vw;
    }

    .main-content h3 {
        font-size: 4.7vw;
        margin-bottom: 15px;
    }

    .btn-grp {
        width: 100%;
    }

}



/* Animations */

@keyframes bottomUp{
    0%{
        transform: translateY(40px);
        opacity: 0;
        }
    100%{
        transform: rotate(xx) translateY(0px);
        opacity: 1;
        }
}


  
