/* --------------------------------------------------------
Style Sheet for Portfolio Website of Aromal Anil

version: 1.0
Start Date : 09-02-2020
last modified: 14-02-2020 by Aromal Anil
author: Aromal Anil
email: aromalanilkannan@gmail.com
website: https://aromalanil.netlify.com/
----------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --red: #FE3E57;
    --white: #FFFFFE;
    --dim-white: #E1E1E1;
    --primary-text:rgb(230, 241, 255);
    --territory-text: rgb(214, 217, 224);
    --secondary-text: rgb(166, 172, 194);
    --primary-background: #17315A;
    --secondary-background:rgb(13, 34, 68);
    --secondary-button: #294572;
    --dark-shadow: #051020;


    --montserrat :'Montserrat', sans-serif;
    --poppins: 'Poppins', sans-serif;

}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: var(--montserrat);
    background-color: var(--primary-background);
    color: var(--white);
    position: absolute;
    width: 100%;
}
h1{
    font-size: 5.7rem;
    letter-spacing:-1px;
}
h2{
    font-size: 5rem;
}
h3{
    font-size: 2rem;
}
p{
    font-size: 1.8rem;
    font-family: var(--poppins);
    text-align: justify;
    color:var(--secondary-text);
}

li{
    font-size: 1.9rem;
    font-family: var(--poppins);
    text-align: justify;
    color:var(--secondary-text);
}







.loader-body{
    position: fixed;
    background-color: var(--primary-background);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:999;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}

.add-on{
    animation: bottomUp .5s 1 0s linear;
}
.email {
    position: fixed;
    bottom: 0;
    right: 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mail {
    writing-mode: vertical-rl;
    font-size: 10px;
    line-height:20px;
    text-decoration: none;
    letter-spacing: 2px;
}

.mail-line {
    width: 2px;
    height: 112px;
    margin-top: 30px;
}

.social {
    position: fixed;
    bottom: 0;
    left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-i {
    font-size: 20px;
    margin-bottom: 20px;
}

.social-i:hover {
    color: var(--red);
}

.social-line {
    width: 2px;
    height: 100px;
    margin-top: 10px;
}

.mail,
.social-i {
    color: var(--dim-white);
}

.social-line,
.mail-line {
    background-color: var(--dim-white);
}


.nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    height: 100px;
    background-color: var(--primary-background);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    transition: .5s;
    transition-property: width;
}

.floatingNav {
    height: 60px;
    box-shadow: 0px 1px 10px var(--dark-shadow);
}

#logo h3 {
    color: var(--white);
    font-size: 2.2rem;
    cursor: pointer;
}

#logo h3 span {
    color: var(--red);
}

.nav-elements {
    display: flex;
    align-items: center;

}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-link a {
    font-family: var(--montserrat);
    color: var(--white);
    font-weight: 700;
    font-size: 1.6rem;
    text-decoration: none;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    transition: .3s;
    transition-property: color;
}

.nav-link a:hover {
    
    color: var(--red);
}

#nav-btn {
    width: 130px;
    height: 40px;
    background-color: var(--secondary-button);
    border: 1px solid var(--red);
    margin-left: 3vw;
    transition: .3s;
    transition-property: color;
    cursor: pointer;
    user-select: none;
}

#nav-btn:hover {
    background-color: var(--red);
}

#nav-btn p {
    font-family: var(--montserrat);
    color: var(--white);
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 40px;
}

.ham {
    display: none;
}

.main-wrapper {
    margin-left: 15%;
    margin-right: 15%;
}

.main {
    margin-top: 36px;
    min-height: 100vh;
    padding-bottom: 120px;
    padding-top: 120px;
    width: 100%;
    background-color: var(--primary-background);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.main-content h3 {
    color: var(--dim-white);
    font-size: 2rem;
    font-weight: 600;
}

.main-content h1 {
    color: var(--white);
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: .5rem;
}

.main-content h1 span {
    color: var(--red);
}

.main-content h2 {
    color: var(--white);
    font-weight: 600;
    font-size: 3.5rem;
}

.btn-grp {
    margin-top: 5.5rem;
    display: flex;
    align-items: center;
}

.btn {
    width: 180px;
    height: 55px;
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 6px 21px 6px rgba(0, 0, 0, 0.2);
    user-select: none;
}
.btn p{
    font-size: 1.7rem;
    font-weight: 600;
    color:var(--white);
    font-family: var(--montserrat);
}

.btn:hover {
    box-shadow: 5px 6px 12px 4px rgba(0, 0, 0, 0.31);
}

.primary {
    background-color: var(--red);
    margin-right: 40px;
}

.secondary {
    background-color: var(--secondary-button)
}

.main-img {
    position: absolute; 
    right: -100px;
}

.hero-img {
    display: block;
    width: 40vw;
}

.section{
    padding: 120px 15%;
}

.about{
    background-color:var(--secondary-background); 
    min-height: 100vh;
    display: flex;
    height:100%;
    align-items: center;  
}
.about-content{
    margin-left: 50px;
    flex-basis:60%;
}

.about-img{
    flex-basis:40%;
    height: 100%;
}

.about-brief{
    margin-bottom: 30px;
}

.about-brief h1{
    margin-bottom: 15px;
}

.about-tabs{
    margin-top: 50px;
}

.tabs{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    font-family: var(--montserrat);
    list-style: none;
    margin-left: -15px;
    
}
.tab{
    position: relative;
    cursor: pointer;
    font-size: 2rem;
    font-family: var(--montserrat);
    font-weight: 600;
    color:var(--primary-text);
    margin:0 15px;
    margin-bottom: 10px;
    line-height: 30px;
    user-select: none;
    transition: .8s;
    transition-property: color;
}

.tab::after{
    content: '';
    display: block;
    background: var(--dim-white);
    height: 3px;
    max-width: 50px;
    width: 100%;
    border-radius: 10px;
    transition: 1s;
}

.active::after
{
    content: '';
    display: block;
    background: var(--red);
    height: 3px;
    max-width: 150px;
    width: 100%;
    border-radius: 10px;
    transition: 1s;

}

.tab:hover::after{
    background:var(--red);
    max-width: 150px;
}

.active-tab{
    color:var(--red);
}

.tab-content{
    margin-top: 20px;
    height: 50px;
}


.tab-content h3{
    font-family: var(--poppins);
    font-weight: 500;
    color:var(--territory-text);
}
.tab-content p{
    font-size: 1.5rem;
    text-align: left;
}

.link{
    cursor: pointer;
}

.about-img img{
    height:100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}




@media only screen and (max-width: 1300px) {

    html{
        font-size: 8.8px;
    }
    .btn {
        width: 160px;
        height: 50px;
    }
}

@media only screen and (max-width: 970px) {

    html{
        font-size:8px;
    }
    .nav-bar {
        padding-left: 10%;
        padding-right: 5%;
        height: 80px;
    }
    .floatingNav {
        height: 55px;
    }

    .nav-elements {
        opacity: 0;
        display: none;
        background-color: var(--dark-shadow);
        justify-content: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw; 
        
    }

    .nav-visible {
        display: flex;
        transition: .5s;
        transition-property: opacity;
        opacity: 1;
    }

    .nav-links {
        flex-direction: column;

    }

    .nav-link {
        margin-top: 5vh;
    }

    .nav-links a {
        padding-left: 0px;
        padding-right: 0px;
        font-size: 3rem;
    }

    #nav-btn {
        background-color: #11233f;
        margin-left: 0px;
        margin-top: 10vh;
        width: 180px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #nav-btn p{
        font-size: 2.4rem;
    }

   
    .ham {
        display: block;
        position: relative;
        z-index: 20;
    }

    .main {
        margin-top: 0px;
        justify-content: center;
        flex-direction: column-reverse;
        text-align: center;
    }

   
    .main-content h2 {
        line-height: 50px;
    }

    .primary {
        margin-right: 20px;
    }

    .btn-grp {
        margin-top: 3rem;
        justify-content: center;
    }

    .main-img {
        position: static;
        right: 0px;
    }

    .main-img {
        margin-bottom: 5vh;
        height: 50%;
    }

    .hero-img {
        width: 75vw;
    }

    .add-on {
        display: none;
    }
    .section{
        padding: 60px 8%;
    }
    .about{
        flex-direction: column;
    }
    .about-content{
        margin-left: 0px;
        flex-basis:70%;
    }
    .about-img img{
        min-height: 200px;
        min-height: 200px;
        height:70vw;
        width:70vw;
        object-fit: cover;
    }
    .about-brief h1{
        margin-top:30px;
    }
    .about-brief{
        margin-bottom: 0px;
    }
    .tab{
        font-size: 2.2rem;
    }
    
    
}


@media only screen and (max-width: 600px) {

    .main{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .main-content h1 {
        font-size: 10vw;
    }

    .main-content h2 {
        font-size: 5.9vw;
    }

    .main-content h3 {
        font-size: 4.7vw;
        margin-bottom: 15px;
    }

    .btn-grp {
        width: 100%;
    }

}



/* Animations */

@keyframes bottomUp{
    0%{
        transform: translateY(40px);
        opacity: 0;
        }
    100%{
        transform: rotate(xx) translateY(0px);
        opacity: 1;
        }
}


  
